/* Coolors Exported Palette - coolors.co/fcfcfc-f7567c-fffae3-99e1d9-5d576b */
// https://coolors.co/fcfcfc-f7567c-fffae3-99e1d9-5d576b

/* HSL */
$color1: hsla(0%, 0%, 99%, 1);
$color2: hsla(346%, 91%, 65%, 1);
$color3: hsla(49%, 100%, 95%, 1);
$color4: hsla(173%, 55%, 74%, 1);
$color5: hsla(258%, 10%, 38%, 1);

/* RGB */
$color1: rgba(252, 252, 252, 1);
$color2: rgba(247, 86, 124, 1);
$color3: rgba(255, 250, 227, 1);
$color4: rgba(153, 225, 217, 1);
$color5: rgba(93, 87, 107, 1);