/* Coolors Exported Palette - coolors.co/fcfcfc-f7567c-fffae3-99e1d9-5d576b */
// https://coolors.co/fcfcfc-f7567c-fffae3-99e1d9-5d576b

/* RGB */
$babyPowder: rgba(252, 252, 252, 1);
$brinkPink: rgba(247, 86, 124, 1);
$cosmicLatte: rgba(255, 250, 227, 1);
$paleRobinEggBlue: rgba(153, 225, 217, 1);
$blackCoral: rgba(93, 87, 107, 1);