.home {
	text-align: center;
	margin: 0 auto;
	max-width: 768px;
	width: 85vw;

	.logo {
		width: 14rem;
		height: auto;
	}
	img {
		margin: 1rem 1rem 2rem 1rem;
		max-width: 300px;
	}
	p {
	    font-family: 'Baloo Bhaina', cursive;
	    letter-spacing: 0.04rem;
		color: $green;
		font-size: 4.2rem;
		line-height: 4.4rem;
		padding: 10px 0;

		span {
			&:nth-child(1) {
				color: $red;
				font-size: 5rem;
			}
			&:nth-child(2) {
				color: $brown1;
			}
			&:nth-child(3) {
				color: $yellow1;
				font-size: 5rem;
			}
			&:last-child {
				color: $green;
				font-size: 5rem;
			}
		}
	}
	.cta {
		background: $yellow2;
		padding: 1.8rem;
		border: 0.44rem solid #000;
		font-size: 2rem;
		color: #000;
		font-weight: bold;
		border-radius: 2rem;
		cursor: pointer;
		text-decoration: none;
		display: inline-block;
		width: 20rem;
		@include transition(all 0.3s);
		&:hover {
			background: $green;
		}
	}
}

@media (max-width: 768px) {
	.home {
		.cta {
			font-size: 1.6em !important;
		}
	}
}