.home {
	text-align: center;
	margin: 0 auto;

	.logo {
		width: 30vw;
		height: auto;
	}
	img {
		margin: 3vw;
		max-width: 300px;
	}
	p {
	    font-family: 'Baloo Bhaina', cursive;
	    letter-spacing: 0.1vw;
		color: $green;
		font-size: 6vw;
		line-height: 7.6vw;
		padding: 10px 40px;
		span {
			&:nth-child(1) {
				color: $red;
				font-size: 8vw;
			}
			&:nth-child(2) {
				color: $brown1;
			}
			&:nth-child(3) {
				color: $yellow1;
				font-size: 7.5vw;
			}
			&:last-child {
				color: $green;
				font-size: 8vw;
			}
		}
	}
	.cta {
		background: $yellow2;
		padding: 30px;
		border: 6px solid #000;
		font-size: 4.5vw;
		color: #000;
		font-weight: bold;
		border-radius: 15px;
		cursor: pointer;
		text-decoration: none;
		display: inline-block;
		width: 42vw;
		@include transition(all 0.3s);
		&:hover {
			background: $green;
		}
	}
}